


.row{
display: flex;
margin: 20px;
}


.col,.col-2,.col-3{
   color:white;
   background-color: teal;
   margin: 10px;
   height:100px;
   width: 150px;

}


.col{
    flex:1;
   
}

.col-2{
    flex:2;
}

.col-3{
    flex:3;
}